<div style="text-align: center">
    <div class="modal-header">
        <h3 class="modal-title">{{'delete_question_short' | translate}}</h3>
    </div>
    <div class="modal-body">
        <img src="{{content.thumbUrl}}" alt="...">
    </div>
    <div class="modal-footer" style="text-align: center">
        <button class="btn btn-danger" ng-click="ok()">{{'delete' | translate}}</button>
        <button class="btn btn-warning" ng-click="cancel()">{{'cancel' | translate}}</button>
    </div>
</div>