<div class="contentWrapper">

    <div>
        <form action="" name="childForm" id="childFormId" enctype="multipart/form-data" novalidate>
            <tabset vertical="true" type="pills">
            <tab heading="{{'child' | translate}}" class="tab">
                <div class="formWrapper">
                    <table class="formTable">
                        <tr>
                            <td class="label" title="{{'required' | translate}}">{{'login_name' | translate}}*:</td>
                            <td class="value">
                                <input type="text" id="usernameId" name="login_name" ng-model="child.username" required/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label" title="{{'required' | translate}}">{{'login_password' | translate}}*:</td>
                            <td class="value">
                                <input type="text" id="passwordId" name="login_password" ng-model="child.password" class="number" required/>
                                <button type="button" ng-click="generatePassword()" class="btn btn-info">{{'generate' | translate}}</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">{{'name' | translate}}*:</td>
                            <td class="value">
                                <input type="text" name="name" ng-model="child.firstname" required=""/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">{{'bornYear' | translate}}:</td>
                            <td class="value">
                                <input ng-model="child.bornYear" type="text" class="number"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">{{'residence' | translate}}:</td>
                            <td class="value">
                                <input type="text" ng-model="child.residence"/>
                            </td>
                        </tr>
                        <tr>
                            <td class="label" style="vertical-align: top;">{{'main_content' | translate}}:</td>
                            <td class="value">
                                <textarea id="contentId" style="width: 700px; height: 130px;" ng-model="child.content.value"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">&nbsp;</td>
                            <td class="value">
                                <button type="button" ng-click="delete()" class="btn btn-danger">{{'delete_child' | translate}}</button>
                            </td>
                        </tr>
                        <tr>
                            <td class="label">{{'created' | translate}}:</td>
                            <td class="value">{{ child.created | date : 'dd.MM.yyyy HH:mm'}}</td>
                        </tr>
                        <tr>
                            <td class="label">{{'createdBy' | translate}}:</td>
                            <td class="value">{{child.createdBy}}</td>
                        </tr>
                        <tr>
                            <td class="label">{{'modified' | translate}}:</td>
                            <td class="value">{{ child.modified | date : 'dd.MM.yyyy HH:mm'}}</td>
                        </tr>
                        <tr>
                            <td class="label">{{'modifiedBy' | translate}}:</td>
                            <td class="value">{{child.modifiedBy}}</td>
                        </tr>
                    </table>
                </div>
            </tab>
            <tab heading="{{'title_photo' | translate}}" class="tab">
                <!--<tr>-->
                    <!--<td class="label">{{'main_url' | translate}}:</td>-->
                    <!--<td class="value">-->
                        <!--<input type="text" id="mainUrlId" ng-model="child.mainURL"/>-->
                                    <!--<span id="container">-->
                                        <!--<a id="pickfiles" href="javascript:;">{{'select_file' | translate}}</a>-->
                                        <!--<span id="filelist"></span>-->
                                        <!--<a id="uploadfiles" style="display: none;" href="javascript:;">{{'upload_to_picasa' |-->
                                            <!--translate}}</a>-->
                                    <!--</span>-->
                    <!--</td>-->
                <!--</tr>-->
                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">{{'title' | translate}}</th>
                        <th ng-show="titleUploader.isHTML5">{{'size' | translate}}</th>
                        <th ng-show="titleUploader.isHTML5">{{'progress' | translate}}</th>
                        <th>{{'status' | translate}}</th>
                        <th>{{'actions' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in titleUploader.queue">
                        <td>
                            <strong>{{ item.file.name }}</strong>
                            <!-- Image preview -->
                            <!--auto height-->
                            <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                            <!--auto width-->
                            <!--<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>-->
                            <!--fixed width and height -->
                            <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                        </td>
                        <td ng-show="titleUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="titleUploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> {{'upload' | translate}}
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> {{'cancel' | translate}}
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> {{'remove' | translate}}
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
<!--                    <span id="titleItem">
                        <span ng-show="child.mainURL" class="itemWrapper">
                            <img ng-src="{{child.mainURL}}" alt="...">
                        </span>
                    </span>-->
                    <span>
                        <span ng-repeat="item in mainURLs()" class="itemWrapper">
                            <img ng-src="{{item}}" alt="...">
                        </span>
                    </span>
                </div>
                <div>
                    <div style="position: relative; margin: 10px 0; ">
                        <button type="button" class="btn btn-info" ng-click="put()" name="childFormSubmit">{{'select_file' | translate}}</button>
                        <input type="file" nv-file-select="" uploader="titleUploader" multiple  style="position: absolute; padding: 7px; z-index: 1001; top: 0; opacity: 0.01;"/>
                    </div>
                </div>
            </tab>
            <tab heading="{{'gallery' | translate}}" class="tab">
                <table class="table">
                    <thead>
                    <tr>
                        <th width="50%">{{'title' | translate}}</th>
                        <th ng-show="uploader.isHTML5">{{'size' | translate}}</th>
                        <th ng-show="uploader.isHTML5">{{'progress' | translate}}</th>
                        <th>{{'status' | translate}}</th>
                        <th>{{'actions' | translate}}</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="item in uploader.queue">
                        <td>
                            <strong>{{ item.file.name }}</strong>
                            <!-- Image preview -->
                            <!--auto height-->
                            <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                            <!--auto width-->
                            <!--<div ng-show="uploader.isHTML5" ng-thumb="{ file: item._file, height: 100 }"></div>-->
                            <!--fixed width and height -->
                            <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                        </td>
                        <td ng-show="uploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
                        <td ng-show="uploader.isHTML5">
                            <div class="progress" style="margin-bottom: 0;">
                                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
                            </div>
                        </td>
                        <td class="text-center">
                            <span ng-show="item.isSuccess"><i class="glyphicon glyphicon-ok"></i></span>
                            <span ng-show="item.isCancel"><i class="glyphicon glyphicon-ban-circle"></i></span>
                            <span ng-show="item.isError"><i class="glyphicon glyphicon-remove"></i></span>
                        </td>
                        <td nowrap>
                            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                                <span class="glyphicon glyphicon-upload"></span> {{'upload' | translate}}
                            </button>
                            <button type="button" class="btn btn-warning btn-xs" ng-click="item.cancel()" ng-disabled="!item.isUploading">
                                <span class="glyphicon glyphicon-ban-circle"></span> {{'cancel' | translate}}
                            </button>
                            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                                <span class="glyphicon glyphicon-trash"></span> {{'remove' | translate}}
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <div>
                        {{'queue_progress' | translate}}:
                        <div class="progress" style="">
                            <div class="progress-bar" role="progressbar" ng-style="{ 'width': uploader.progress + '%' }"></div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-success btn-s" ng-click="uploader.uploadAll()" ng-disabled="!uploader.getNotUploadedItems().length">
                        <span class="glyphicon glyphicon-upload"></span> {{'upload_all' | translate}}
                    </button>
                    <button type="button" class="btn btn-warning btn-s" ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">
                        <span class="glyphicon glyphicon-ban-circle"></span> {{'cancel_all' | translate}}
                    </button>
                    <button type="button" class="btn btn-danger btn-s" ng-click="uploader.clearQueue()" ng-disabled="!uploader.queue.length">
                        <span class="glyphicon glyphicon-trash"></span> {{'remove_all' | translate}}
                    </button>
                </div>
                <div>
                    <div style="position: relative; margin: 10px 0; ">
                        <button type="button" class="btn btn-info" ng-click="put()" name="childFormSubmit">{{'select_file' | translate}}</button>
                        <input type="file" nv-file-select="" uploader="uploader" multiple  style="position: absolute; padding: 7px; z-index: 1001; top: 0; opacity: 0.01;"/>
                    </div>
                </div>
                <div>
                    <table class="formTable">
<!--                        <tr>
                            <td class="label">{{'gallery' | translate}}:</td>
                            <td class="value">
                                    <span id="container2">
                                        <a id="pickfiles2" href="javascript:;">{{'select_file' | translate}}</a>
                                        <span id="filelist2"></span>
                                        <a id="uploadfiles2" style="display: none;" href="javascript:;">{{'upload_to_picasa' |
                                            translate}}</a>
                                    </span>
                            </td>
                        </tr>-->
                        <tr>
                            <td colspan="2">
                                    <span id="galleryItems">
                                        <span ng-repeat="item in child.galleryItems" class="itemContainer">
                                            <span class="itemWrapper {{item.deleted}}">
                                                <!--<span class="deleteItem">-->
                                                    <!--<a href="{{deleteGalleryItemUrl}}?gphotoId={{item.gphotoId}}">{{'delete' |-->
                                                        <!--translate}}</a>-->
                                                <!--</span>-->
                                                <img ng-src="{{item.thumbUrl}}" alt="...">
                                                <!--<button type="button" ng-click="delete(item.identifier)" class="glyphicon glyphicon-remove btn btn-info">x</button>-->
                                                <span ng-show="!item.deleted" ng-click="deleteItem(item)" class="glyphicon glyphicon-remove"></span>
                                            </span>
                                            <span ng-show="item.deleted" class="deleteInfo">{{'deletion_info_message' | translate}}</span>
                                        </span>
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </tab>
            </tabset>

            <div class="submitArea">
                <button type="button" class="btn btn-info" ng-click="put(childForm)" name="childFormSubmit">{{'save' | translate}}</button>
                <button type="button" ng-click="toList()" class="btn btn-info">{{'cancel' | translate}}</button>
                <!--<button ng-show="child.identifier != null" type="button" class="btn btn-info">{{'delete' | translate}}</button>-->
            </div>
        </form>

        </div>

</div>