<h3>Child</h3>
<div>
    Username: <input type="text" ng-model="userModel.username">
</div>
<div>
    Password: <input type="text" ng-model="userModel.password">
</div>
<div>
    Age: <input type="text" ng-model="userModel.age">
</div>

<!--<h3>GalleryItem</h3>-->
<!--<div>-->
    <!--gphotoId: <input type="text" ng-model="galleryItemModel.gphotoId">-->
<!--</div>-->
<!--<div>-->
    <!--index: <input type="text" ng-model="galleryItemModel.index">-->
<!--</div>-->
<!--<div>-->
    <!--imageUrl: <input type="text" ng-model="galleryItemModel.imageUrl">-->
<!--</div>-->

<div>
    <input type="button" ng-click="put()" value="Put!">
    <input type="button" ng-click="home()" value="Home">
</div>
